@charset "UTF-8";


/*body{*/
    /*background:url("../images/index_bg.jpg.jpg");*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-size: cover;*/
/*}*/
html,body,ul,li,a,div,video{
    margin: 0;
    padding: 0;
}
.big-bg{
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100%;*/
}
.big-bg .bg{
    height: 100%;
    transition: all 1s;
/*background:url("../images/index_bg.jpg.jpg");*/
/*background-size: cover;*/
    /*/!*position:absolute;*!/*/
    /*object-fit:fill;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*top:-46px;*/

}
/*.arrow{*/
    /*width:200px;*/
    /*height: 50px;*/
    /*background-color: #fff;*/
    /*position:absolute;*/
    /*top:50px;*/
    /*left:100px;*/
/*}*/
.import{
    position: absolute;
    top:100px;
    left:100px;

}

.import li{
    width:200px;
    height: 50px;
    margin-top:50px;
    border:1px solid #ffffff;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    opacity: 1;
    list-style:none;
}
.import li a{
    display:block;
    width:100%;
    height: 100%;
}
.import li a{
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}