@charset "UTF-8";
img {
    margin:0;
    padding:0;
}

.shitu_section {
    /*background: url("../images/video_bg_e5f0d15.jpg") no-repeat center center;*/
}
.shitu-wrap {
    width: 1200px;
    height: 514px;
    padding-top: 58px;
    padding-left:18px;
    margin: 0 auto;

}
/* .shitu-wrap img:hover {
     width: 270px;
     height: 164px;
 }*/

.shitu-wrap  .video-part {
    width: 580px;
    height: 430px;
    float: left;
    /*background-color: red;*/
}
.shitu-wrap  .video-part>a img {
    transition: all 0.5s;
}
.shitu-wrap  .video-part>a:hover img {
    transform: scale(1.1);
}
.shitu-wrap  .video-part h3 {
    width: 227px;
    height: 148px;
    margin-right: 62px;
    float: left;
    background: url("../images/index_z_4b6df7a.png") no-repeat -777px -746px;
    position: relative;
}
.shitu-wrap  .video-part h3 p {
    position: absolute;
    top:78px;
    height: 25px;
    font-size: 22px;
    background-color: #fff;
}
.shitu-wrap  .paper-part h3 {
    width: 248px;
    height: 148px;
    float: left;
    margin-right: 42px;
    background: url("../images/index_z_4b6df7a.png") no-repeat -529px -746px;
    position: relative;
}   
.shitu-wrap  .paper-part h3 p {
    position: absolute;
    top:78px;
    height: 25px;
    font-size: 22px;
    background-color: #fff;
}

.video-part .video01 ,.video-part .video02,.video-part .video03 {
    float: left;
    width: 270px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 15px;
    /*position: relative;*/
}
.video-part .name{
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #000;
    background: #fff;
    text-indent: 12px;
    overflow: hidden;
    white-space: nowrap;

}
.shitu-wrap  .paper-part {
    width: 580px;
    height: 430px;
    float: right;
    /*background-color: red;*/
}
.shitu-wrap  .paper-part>a img {
    transition: all 0.5s;
}
.shitu-wrap  .paper-part>a:hover img {
    transform: scale(1.1);
}
.paper-part .paper01 ,.paper-part .paper02,.paper-part .paper03 {
    float: left;
    width: 270px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 15px;
}
.paper-part .name {
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #666;
    text-indent: 12px;
}